body
{
background:url('https://images.all-free-download.com/images/graphiclarge/bloody_sunrise_514548.jpg');
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

}
