html
{
	height: 100%;
}
body
{
background:url('https://images.unsplash.com/photo-1558439968-2ee0a2b07e4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80');
     background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

}


.heightclass
{
	height:100px;
	/*overflow:scroll;*/
}
.placement
{
	width: auto; 
	height: 13rem;
}
.centre-align
{
	text-align: center;
}
.highlight
{
	color:red;
}
