body
{
	background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Hazy_Crazy_Sunrise.jpg/800px-Hazy_Crazy_Sunrise.jpg');
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}