body
{
	background:url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?dpr=0.800000011920929&auto=format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=');
background-size: cover;
    background-position: center;

}
.highlight
{
	color:red;
}
